# pandas library

In [1]:
import pandas as pd
import numpy as np
import random

In [2]:
# Step 1: Create a dataset with 50,000 rows
np.random.seed(42)  # For reproducibility

# Random data generation
order_ids = np.arange(1, 50001)
products = ["Laptop", "Smartphone", "Tablet", "Desk Chair", "Desk", "Pen", "Notebook", "Coffee Mug"]
categories = ["Electronics", "Furniture", "Office Supplies"]
regions = ["East Coast", "West Coast", "Midwest", "South"]

In [3]:
data = {
    "OrderID": order_ids,
    "Product": np.random.choice(products, size=50000),
    "Category": np.random.choice(categories, size=50000),
    "Quantity": np.random.randint(1, 11, size=50000),
    "Price": np.random.randint(5, 1001, size=50000),
    "Discount": np.random.uniform(0.01, 0.50, size=50000).round(2),
    "Region": np.random.choice(regions, size=50000),
    "Date": pd.date_range(start="2024-01-01", periods=50000, freq="T").strftime("%Y-%m-%d"),
}

In [4]:
# Add Revenue Column
data["Revenue"] = (data["Price"] * data["Quantity"] * (1 - data["Discount"])).round(2)

In [5]:
# Convert to DataFrame
df = pd.DataFrame(data)

In [ ]:
import pandas as pd
import numpy as np
import random

In [43]:
# Step 2: View the data
df.head(10)  # Show the first 5 rows

,OrderID,Product,Category,Quantity,Price,Discount,Date,Revenue,Total Price,Year,Discounted Price,Total Value
0,1,Notebook,Furniture,1,455,0.12,2024-01-01,400.40,455,2024,409.5,455
1,2,Desk Chair,Furniture,3,965,0.20,2024-01-01,2316.00,2895,2024,868.5,2895
2,3,Desk,Electronics,1,648,0.02,2024-01-01,635.04,648,2024,583.2,648
3,4,Notebook,Office Supplies,9,526,0.09,2024-01-01,4307.94,4734,2024,473.4,4734
4,5,Tablet,Office Supplies,7,613,0.41,2024-01-01,2531.69,4291,2024,551.7,4291
5,6,Coffee Mug,Office Supplies,5,843,0.27,2024-01-01,3076.95,4215,2024,758.7,4215
6,7,Desk,Office Supplies,7,83,0.06,2024-01-01,546.14,581,2024,74.7,581
7,8,Desk,Electronics,3,973,0.05,2024-01-01,2773.05,2919,2024,875.7,2919
8,9,Notebook,Electronics,3,841,0.46,2024-01-01,1362.42,2523,2024,756.9,2523
9,10,Smartphone,Electronics,1,760,0.19,2024-01-01,615.60,760,2024,684.0,760

In [8]:
print(df.info())  # description of the dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   OrderID   50000 non-null  int32
 1   Product   50000 non-null  object
 2   Category  50000 non-null  object
 3   Quantity  50000 non-null  int32
 4   Price     50000 non-null  int32
 5   Discount  50000 non-null  float64
 6   Region    50000 non-null  object
 7   Date      50000 non-null  object
 8   Revenue   50000 non-null  float64
dtypes: float64(2), int32(3), object(4)
memory usage: 2.9+ MB
None

In [9]:
# Step 3: Select specific columns and rows
print(df["Product"])  # Show the Product column

0          Notebook
1        Desk Chair
2              Desk
3          Notebook
4            Tablet
            ...
49995    Coffee Mug
49996    Coffee Mug
49997        Tablet
49998    Smartphone
49999        Tablet
Name: Product, Length: 50000, dtype: object

In [10]:
print(df[["Product", "Price"]])  # Show multiple columns

          Product  Price
0        Notebook    455
1      Desk Chair    965
2            Desk    648
3        Notebook    526
4          Tablet    613
...           ...    ...
49995  Coffee Mug    253
49996  Coffee Mug    702
49997      Tablet    385
49998  Smartphone    167
49999      Tablet    823

[50000 rows x 2 columns]

In [11]:
# Step 4: Filter data
#picking out only the rows where the "Category" is "Electronics" and showing the first 5 of 
#these rows.
filtered = df[df["Category"] == "Electronics"]
print(filtered.head())  # Show first 5 rows of filtered data

    OrderID     Product     Category  Quantity  Price  Discount      Region  \
2         3        Desk  Electronics         1    648      0.02     Midwest
7         8        Desk  Electronics         3    973      0.05       South
8         9    Notebook  Electronics         3    841      0.46       South
9        10  Smartphone  Electronics         1    760      0.19  West Coast
13       14      Tablet  Electronics         5    385      0.27     Midwest

          Date  Revenue
2   2024-01-01   635.04
7   2024-01-01  2773.05
8   2024-01-01  1362.42
9   2024-01-01   615.60
13  2024-01-01  1405.25

This code is filtering rows in a dataset where the "Category" column has the value "Electronics." Here's an easy explanation:

df["Category"] == "Electronics": This checks every row in the "Category" column of the dataset df. If the value in that row is "Electronics," it marks it as True; otherwise, it's False.

df[df["Category"] == "Electronics"]: This takes the original dataset (df) and selects only the rows where the condition (Category is "Electronics") is True. This gives you a smaller dataset with just those rows.

filtered = ...: The filtered rows are saved in a new dataset called filtered.

print(filtered.head()): This prints the first 5 rows of the filtered dataset so you can quickly see what the data looks like after filtering.

In [12]:
# Step 5: Sort data
sorted_df = df.sort_values(by="Price", ascending=False)
print(sorted_df.head())  # Show the most expensive items

       OrderID     Product         Category  Quantity  Price  Discount  \
43772    43773        Desk      Electronics         4   1000      0.49
21355    21356  Desk Chair      Electronics         6   1000      0.36
25966    25967  Coffee Mug        Furniture         8   1000      0.11
10282    10283  Coffee Mug      Electronics         4   1000      0.41
7367      7368  Smartphone  Office Supplies         4   1000      0.11

           Region        Date  Revenue
43772  East Coast  2024-01-31   2040.0
21355  East Coast  2024-01-15   3840.0
25966     Midwest  2024-01-19   7120.0
10282  West Coast  2024-01-08   2360.0
7367      Midwest  2024-01-06   3560.0

In [13]:
# Step 6: Group data and summarize
grouped = df.groupby("Category")["Revenue"].sum()
print(grouped)

Category
Electronics        34527242.08
Furniture          34492768.18
Office Supplies    34051358.08
Name: Revenue, dtype: float64

This code groups your data by the "Category" column and adds up the "Revenue" for each category. Here's the explanation in simple terms:

df.groupby("Category"): This groups all the rows in your dataset based on the values in the "Category" column. For example:

All rows with "Electronics" are grouped together.
All rows with "Clothing" are grouped together.
And so on for other categories.
["Revenue"].sum(): After grouping by "Category," it looks at the "Revenue" column and adds up the revenue values for each group (category).

grouped = ...: The result, which shows the total revenue for each category, is stored in a new variable called grouped.

print(grouped): This prints the total revenue for each category.

In short, you're calculating the total revenue for each category!

In [15]:
# Step 4: Filter the data
#Products with Price > 100:
expensive = df[df["Price"] > 100]
print(expensive)

Products with Price > 100:
       OrderID     Product         Category  Quantity  Price  Discount  \
0            1    Notebook        Furniture         1    455      0.12
1            2  Desk Chair        Furniture         3    965      0.20
2            3        Desk      Electronics         1    648      0.02
3            4    Notebook  Office Supplies         9    526      0.09
4            5      Tablet  Office Supplies         7    613      0.41
...        ...         ...              ...       ...    ...       ...
49995    49996  Coffee Mug  Office Supplies         4    253      0.14
49996    49997  Coffee Mug  Office Supplies         8    702      0.14
49997    49998      Tablet        Furniture         1    385      0.32
49998    49999  Smartphone  Office Supplies        10    167      0.08
49999    50000      Tablet  Office Supplies         4    823      0.11

           Region        Date  Revenue
0         Midwest  2024-01-01   400.40
1      East Coast  2024-01-01  2316.00
2         Midwest  2024-01-01   635.04
3         Midwest  2024-01-01  4307.94
4           South  2024-01-01  2531.69
...           ...         ...      ...
49995       South  2024-02-04   870.32
49996     Midwest  2024-02-04  4829.76
49997  East Coast  2024-02-04   261.80
49998  West Coast  2024-02-04  1536.40
49999  West Coast  2024-02-04  2929.88

[45186 rows x 9 columns]

In [16]:
# Step 6: Add a new column
df["Total"] = df["Quantity"] * df["Price"]
print(df)

       OrderID     Product         Category  Quantity  Price  Discount  \
0            1    Notebook        Furniture         1    455      0.12
1            2  Desk Chair        Furniture         3    965      0.20
2            3        Desk      Electronics         1    648      0.02
3            4    Notebook  Office Supplies         9    526      0.09
4            5      Tablet  Office Supplies         7    613      0.41
...        ...         ...              ...       ...    ...       ...
49995    49996  Coffee Mug  Office Supplies         4    253      0.14
49996    49997  Coffee Mug  Office Supplies         8    702      0.14
49997    49998      Tablet        Furniture         1    385      0.32
49998    49999  Smartphone  Office Supplies        10    167      0.08
49999    50000      Tablet  Office Supplies         4    823      0.11

           Region        Date  Revenue  Total
0         Midwest  2024-01-01   400.40    455
1      East Coast  2024-01-01  2316.00   2895
2         Midwest  2024-01-01   635.04    648
3         Midwest  2024-01-01  4307.94   4734
4           South  2024-01-01  2531.69   4291
...           ...         ...      ...    ...
49995       South  2024-02-04   870.32   1012
49996     Midwest  2024-02-04  4829.76   5616
49997  East Coast  2024-02-04   261.80    385
49998  West Coast  2024-02-04  1536.40   1670
49999  West Coast  2024-02-04  2929.88   3292

[50000 rows x 10 columns]

In [17]:
# Get summary statistics (like average, minimum, and maximum)
print(df.describe())

            OrderID      Quantity         Price      Discount       Revenue  \
count  50000.000000  50000.000000  50000.000000  50000.000000  50000.000000
mean   25000.500000      5.502780    503.015720      0.256261   2061.427367
std    14433.901067      2.881187    287.673717      0.141469   1788.717093
min        1.000000      1.000000      5.000000      0.010000      2.600000
25%    12500.750000      3.000000    254.000000      0.130000    625.435000
50%    25000.500000      5.000000    503.000000      0.260000   1551.015000
75%    37500.250000      8.000000    753.000000      0.380000   3072.300000
max    50000.000000     10.000000   1000.000000      0.500000   9800.000000

              Total
count  50000.000000
mean    2772.684640
std     2305.231638
min        5.000000
25%      867.000000
50%     2121.000000
75%     4182.000000
max    10000.000000

In [18]:
# Check the data types of all columns
print(df.dtypes)

OrderID       int32
Product      object
Category     object
Quantity      int32
Price         int32
Discount    float64
Region       object
Date         object
Revenue     float64
Total         int32
dtype: object

In [19]:
# Rename the column "Total" to "Total Price"
df = df.rename(columns={"Total": "Total Price"})
print(df)

       OrderID     Product         Category  Quantity  Price  Discount  \
0            1    Notebook        Furniture         1    455      0.12
1            2  Desk Chair        Furniture         3    965      0.20
2            3        Desk      Electronics         1    648      0.02
3            4    Notebook  Office Supplies         9    526      0.09
4            5      Tablet  Office Supplies         7    613      0.41
...        ...         ...              ...       ...    ...       ...
49995    49996  Coffee Mug  Office Supplies         4    253      0.14
49996    49997  Coffee Mug  Office Supplies         8    702      0.14
49997    49998      Tablet        Furniture         1    385      0.32
49998    49999  Smartphone  Office Supplies        10    167      0.08
49999    50000      Tablet  Office Supplies         4    823      0.11

           Region        Date  Revenue  Total Price
0         Midwest  2024-01-01   400.40          455
1      East Coast  2024-01-01  2316.00         2895
2         Midwest  2024-01-01   635.04          648
3         Midwest  2024-01-01  4307.94         4734
4           South  2024-01-01  2531.69         4291
...           ...         ...      ...          ...
49995       South  2024-02-04   870.32         1012
49996     Midwest  2024-02-04  4829.76         5616
49997  East Coast  2024-02-04   261.80          385
49998  West Coast  2024-02-04  1536.40         1670
49999  West Coast  2024-02-04  2929.88         3292

[50000 rows x 10 columns]

This code renames a column in the dataset df. Specifically, it changes the column name "Total" to "Total Price". Here's a breakdown of the syntax:

df.rename(): This is a function used to rename columns or rows in the dataset.

columns={...}: This tells the function that you're renaming one or more column names. The format is:

Key: The existing column name ("Total").
Value: The new column name ("Total Price").
df = ...: This updates the original dataset by assigning the result of the renaming back to df.

In [20]:
# Drop the "Region" column
df = df.drop(columns=["Region"])
print(df)

       OrderID     Product         Category  Quantity  Price  Discount  \
0            1    Notebook        Furniture         1    455      0.12
1            2  Desk Chair        Furniture         3    965      0.20
2            3        Desk      Electronics         1    648      0.02
3            4    Notebook  Office Supplies         9    526      0.09
4            5      Tablet  Office Supplies         7    613      0.41
...        ...         ...              ...       ...    ...       ...
49995    49996  Coffee Mug  Office Supplies         4    253      0.14
49996    49997  Coffee Mug  Office Supplies         8    702      0.14
49997    49998      Tablet        Furniture         1    385      0.32
49998    49999  Smartphone  Office Supplies        10    167      0.08
49999    50000      Tablet  Office Supplies         4    823      0.11

             Date  Revenue  Total Price
0      2024-01-01   400.40          455
1      2024-01-01  2316.00         2895
2      2024-01-01   635.04          648
3      2024-01-01  4307.94         4734
4      2024-01-01  2531.69         4291
...           ...      ...          ...
49995  2024-02-04   870.32         1012
49996  2024-02-04  4829.76         5616
49997  2024-02-04   261.80          385
49998  2024-02-04  1536.40         1670
49999  2024-02-04  2929.88         3292

[50000 rows x 9 columns]

In [21]:
# Reorganize the row numbers after filtering or sorting.
# Reset the row numbers
df = df.reset_index(drop=True)
print(df)
# drop=True Setting drop=True tells it not to save the old index in the DataFrame.

       OrderID     Product         Category  Quantity  Price  Discount  \
0            1    Notebook        Furniture         1    455      0.12
1            2  Desk Chair        Furniture         3    965      0.20
2            3        Desk      Electronics         1    648      0.02
3            4    Notebook  Office Supplies         9    526      0.09
4            5      Tablet  Office Supplies         7    613      0.41
...        ...         ...              ...       ...    ...       ...
49995    49996  Coffee Mug  Office Supplies         4    253      0.14
49996    49997  Coffee Mug  Office Supplies         8    702      0.14
49997    49998      Tablet        Furniture         1    385      0.32
49998    49999  Smartphone  Office Supplies        10    167      0.08
49999    50000      Tablet  Office Supplies         4    823      0.11

             Date  Revenue  Total Price
0      2024-01-01   400.40          455
1      2024-01-01  2316.00         2895
2      2024-01-01   635.04          648
3      2024-01-01  4307.94         4734
4      2024-01-01  2531.69         4291
...           ...      ...          ...
49995  2024-02-04   870.32         1012
49996  2024-02-04  4829.76         5616
49997  2024-02-04   261.80          385
49998  2024-02-04  1536.40         1670
49999  2024-02-04  2929.88         3292

[50000 rows x 9 columns]

In [22]:
# Find out how many unique items are in a column.
# Count unique products
# nunique counts the unique values 
print(df["Product"].nunique())

8

In [23]:
# See what unique items are in a column.
# List unique product names
print(df["Product"].unique())

['Notebook' 'Desk Chair' 'Desk' 'Tablet' 'Coffee Mug' 'Smartphone' 'Pen'
 'Laptop']

In [25]:
# Sort the data using more than one column.
# Sort by Quantity (ascending) and then by Price (descending)
sorted_df = df.sort_values(by=["Quantity", "Price"], ascending=[True, False])
print(sorted_df)

       OrderID     Product         Category  Quantity  Price  Discount  \
9727      9728        Desk      Electronics         1   1000      0.49
10036    10037      Tablet  Office Supplies         1   1000      0.41
23526    23527      Tablet      Electronics         1   1000      0.29
30182    30183      Tablet      Electronics         1   1000      0.18
30362    30363        Desk  Office Supplies         1   1000      0.35
...        ...         ...              ...       ...    ...       ...
13547    13548  Desk Chair        Furniture        10      5      0.34
17514    17515  Coffee Mug        Furniture        10      5      0.22
19626    19627      Tablet      Electronics        10      5      0.21
20547    20548      Laptop        Furniture        10      5      0.19
27421    27422      Tablet        Furniture        10      5      0.46

             Date  Revenue  Total Price
9727   2024-01-07    510.0         1000
10036  2024-01-07    590.0         1000
23526  2024-01-17    710.0         1000
30182  2024-01-21    820.0         1000
30362  2024-01-22    650.0         1000
...           ...      ...          ...
13547  2024-01-10     33.0           50
17514  2024-01-13     39.0           50
19626  2024-01-14     39.5           50
20547  2024-01-15     40.5           50
27421  2024-01-20     27.0           50

[50000 rows x 9 columns]

In [26]:
# Select rows based on multiple conditions.
# Get rows where Quantity > 2 and Price > 100
filtered = df[(df["Quantity"] > 2) & (df["Price"] > 100)]
print(filtered)

       OrderID     Product         Category  Quantity  Price  Discount  \
1            2  Desk Chair        Furniture         3    965      0.20
3            4    Notebook  Office Supplies         9    526      0.09
4            5      Tablet  Office Supplies         7    613      0.41
5            6  Coffee Mug  Office Supplies         5    843      0.27
7            8        Desk      Electronics         3    973      0.05
...        ...         ...              ...       ...    ...       ...
49993    49994      Tablet      Electronics         6    626      0.30
49995    49996  Coffee Mug  Office Supplies         4    253      0.14
49996    49997  Coffee Mug  Office Supplies         8    702      0.14
49998    49999  Smartphone  Office Supplies        10    167      0.08
49999    50000      Tablet  Office Supplies         4    823      0.11

             Date  Revenue  Total Price
1      2024-01-01  2316.00         2895
3      2024-01-01  4307.94         4734
4      2024-01-01  2531.69         4291
5      2024-01-01  3076.95         4215
7      2024-01-01  2773.05         2919
...           ...      ...          ...
49993  2024-02-04  2629.20         3756
49995  2024-02-04   870.32         1012
49996  2024-02-04  4829.76         5616
49998  2024-02-04  1536.40         1670
49999  2024-02-04  2929.88         3292

[36119 rows x 9 columns]

In [27]:
# Quickly find out how many rows are in the dataset.
# Count the total number of rows
print(len(df))

50000

In [30]:
# find out how many rows and columns in the dataset
df.shape

(50000, 9)

In [31]:
# Extract parts of a date, like the year or month.
# Convert Date to a datetime format if it's not already
df["Date"] = pd.to_datetime(df["Date"])

In [32]:
df.head()

,OrderID,Product,Category,Quantity,Price,Discount,Date,Revenue,Total Price
0,1,Notebook,Furniture,1,455,0.12,2024-01-01,400.40,455
1,2,Desk Chair,Furniture,3,965,0.20,2024-01-01,2316.00,2895
2,3,Desk,Electronics,1,648,0.02,2024-01-01,635.04,648
3,4,Notebook,Office Supplies,9,526,0.09,2024-01-01,4307.94,4734
4,5,Tablet,Office Supplies,7,613,0.41,2024-01-01,2531.69,4291

In [33]:
# Extract the year
df["Year"] = df["Date"].dt.year
print(df)

       OrderID     Product         Category  Quantity  Price  Discount  \
0            1    Notebook        Furniture         1    455      0.12
1            2  Desk Chair        Furniture         3    965      0.20
2            3        Desk      Electronics         1    648      0.02
3            4    Notebook  Office Supplies         9    526      0.09
4            5      Tablet  Office Supplies         7    613      0.41
...        ...         ...              ...       ...    ...       ...
49995    49996  Coffee Mug  Office Supplies         4    253      0.14
49996    49997  Coffee Mug  Office Supplies         8    702      0.14
49997    49998      Tablet        Furniture         1    385      0.32
49998    49999  Smartphone  Office Supplies        10    167      0.08
49999    50000      Tablet  Office Supplies         4    823      0.11

            Date  Revenue  Total Price  Year
0     2024-01-01   400.40          455  2024
1     2024-01-01  2316.00         2895  2024
2     2024-01-01   635.04          648  2024
3     2024-01-01  4307.94         4734  2024
4     2024-01-01  2531.69         4291  2024
...          ...      ...          ...   ...
49995 2024-02-04   870.32         1012  2024
49996 2024-02-04  4829.76         5616  2024
49997 2024-02-04   261.80          385  2024
49998 2024-02-04  1536.40         1670  2024
49999 2024-02-04  2929.88         3292  2024

[50000 rows x 10 columns]

In [34]:
# Use a simple function to modify or compute values in a column.
# Create a simple function to calculate the discount price
def calculate_discount(price):
    return price * 0.90  # 10% discount

In [35]:
# Apply this function to the "Price" column
df["Discounted Price"] = df["Price"].apply(calculate_discount)
print(df)

       OrderID     Product         Category  Quantity  Price  Discount  \
0            1    Notebook        Furniture         1    455      0.12
1            2  Desk Chair        Furniture         3    965      0.20
2            3        Desk      Electronics         1    648      0.02
3            4    Notebook  Office Supplies         9    526      0.09
4            5      Tablet  Office Supplies         7    613      0.41
...        ...         ...              ...       ...    ...       ...
49995    49996  Coffee Mug  Office Supplies         4    253      0.14
49996    49997  Coffee Mug  Office Supplies         8    702      0.14
49997    49998      Tablet        Furniture         1    385      0.32
49998    49999  Smartphone  Office Supplies        10    167      0.08
49999    50000      Tablet  Office Supplies         4    823      0.11

            Date  Revenue  Total Price  Year  Discounted Price
0     2024-01-01   400.40          455  2024             409.5
1     2024-01-01  2316.00         2895  2024             868.5
2     2024-01-01   635.04          648  2024             583.2
3     2024-01-01  4307.94         4734  2024             473.4
4     2024-01-01  2531.69         4291  2024             551.7
...          ...      ...          ...   ...               ...
49995 2024-02-04   870.32         1012  2024             227.7
49996 2024-02-04  4829.76         5616  2024             631.8
49997 2024-02-04   261.80          385  2024             346.5
49998 2024-02-04  1536.40         1670  2024             150.3
49999 2024-02-04  2929.88         3292  2024             740.7

[50000 rows x 11 columns]

In [36]:
# Find the highest and lowest values in a column.
# Find the maximum and minimum price
max_price = df["Price"].max()
min_price = df["Price"].min()
print("Max Price:", max_price)
print("Min Price:", min_price)

Max Price: 1000
Min Price: 5

In [38]:
# Change a column to a categorical type to save memory.
# Convert "Product" column to a categorical type
df["Product"] = df["Product"].astype("category")
print(df.dtypes)

OrderID                      int32
Product                   category
Category                    object
Quantity                     int32
Price                        int32
Discount                   float64
Date                datetime64[ns]
Revenue                    float64
Total Price                  int32
Year                         int32
Discounted Price           float64
Total Value                  int32
dtype: object

In [39]:
# Pick random rows from the DataFrame.
# Get 3 random rows from the dataset
sample = df.sample(3)
print(sample)

       OrderID     Product         Category  Quantity  Price  Discount  \
18973    18974         Pen  Office Supplies         3    246      0.24
34552    34553      Tablet      Electronics         1    156      0.41
37955    37956  Desk Chair        Furniture         7     86      0.02

            Date  Revenue  Total Price  Year  Discounted Price  Total Value
18973 2024-01-14   560.88          738  2024             221.4          738
34552 2024-01-24    92.04          156  2024             140.4          156
37955 2024-01-27   589.96          602  2024              77.4          602

In [40]:
# Count how many times each "Product" appears
product_counts = df["Product"].value_counts()
print(product_counts)

Product
Desk          6387
Notebook      6340
Coffee Mug    6268
Smartphone    6264
Desk Chair    6254
Laptop        6229
Pen           6168
Tablet        6090
Name: count, dtype: int64

In [ ]:
df=pd.read_csv("cancer.csv")
df.head()